.root {
  .mainHeader {
    display: flex;
    justify-content: space-between;
    padding: 7px 0;
    margin-bottom: 8px;
    .mainLeft {
      font-size:18px;
      line-height: 32px;
    }
   
    .mainRight {
      display: flex;
      .btnsContainer {
        padding-left: 8px;
        display: flex;
        &>button {
          display: block;
        }
      }
    }
  }
  .baseMainFilter {
    padding: 16px 8px 0;
    margin-bottom: 16px;
    &.grayBg {
      background-color: #f3f5f9;
    }
    &.commonMainFilter {
      :global(.ant-form-item-label) {
        width: 100px;
      }
      :global(.ant-form-item) {
        margin: 0;
      }
    }
    .btnsBox {
      padding-left: 100px;
    }
    .singleRow {
      padding-bottom: 16px;
    }
  }
}